---
layout: base.njk
---
<h1>Vince Cima</h1>
<p>Software engineer in Chicago, working at
  <a href="https://www.tines.com/>">Tines</a>. Previously at
  <a href="https://www.vitally.io/">Vitally</a>,
  <a href="https://stripe.com/">Stripe</a>,
  <a href="https://en.wikipedia.org/wiki/Trunk_Club">Trunk Club</a>
  and
  <a href="https://www.itsgames.com/">Incredible Technologies</a>.</p>
<h2>Projects</h2>
<div style="display: grid; grid-template-columns: 260px 1fr;">
  <section><a href="https://github.com/vincecima/homebrew-new-bot">@homebrew_new_pkgs</a></section>
  <section>Bot posting new formula and casks added to the Homebrew package manager on
    <a href="https://bsky.app/profile/homebrew-new-pkgs.bsky.social">Bluesky</a>
    and
    <a href="https://mastodon.social/@homebrew_new_pkgs">Mastodon</a>.</section>
</div>
<h2>Writing</h2>
<div style="display: grid; grid-template-columns: 260px 1fr;">
  {% for link in collections.links %}
  <section><a id="{{ link.fileSlug }}" href="#{{ link.fileSlug }}">{{ link.date | formatDate('YYYY • MM') }}</a></section>
  <section>
    <a href="{{ link.data.linkOf }}">{{ link.data.title }}</a>{%- if link.data.via -%}&nbsp;(<a href="{{ link.data.via }}">via</a>){%- endif -%}
    {{ link.content | safe }}
  </section>
  {% endfor %}
</div>
