---
layout: base.njk
---
<p>Software engineer in Chicago, working at
  <a href="https://www.tines.com/>">Tines</a>. Previously at
  <a href="https://www.vitally.io/">Vitally</a>,
  <a href="https://stripe.com/">Stripe</a>,
  <a href="https://en.wikipedia.org/wiki/Trunk_Club">Trunk Club</a>
  and
  <a href="https://www.itsgames.com/">Incredible Technologies</a>.</p>
<a href="https://bsky.app/profile/vincecima.com"><img width="32" alt="Bluesky butterfly logo" src="/public/img/bluesky-brands.svg"></a>
<a href="https://fosstodon.org/@vincecima"><img width="32" alt="Mastodon M logo" src="/public/img/mastodon-brands.svg"></a>
<a href="https://github.com/vincecima/"><img width="32" alt="Github Octocat logo" src="/public/img/github-brands.svg"></a>
<h2>Projects</h2>
<div style="display: grid; grid-template-columns: 1fr 1fr;">
  <section>@homebrew_new_pkgs</section>
  <section>Bot tooting new formula and casks added to the Homebrew package manage.</section>
</div>
<h2>Writing</h2>
<div style="display: grid; grid-template-columns: 100px 1fr;">
  {% for link in collections.links %}
  <section><a id="{{ link.fileSlug }}" href="#{{ link.fileSlug }}">{{ link.date | formatDate('YYYY • MM') }}</a></section>
  <section>
    <a href="{{ link.data.linkOf }}">{{ link.data.title }}</a>{%- if link.data.via -%}&nbsp;(<a href="{{ link.data.via }}">via</a>){%- endif -%}
    {{ link.content | safe }}
  </section>
  {% endfor %}
</div>
