{% css %}
{% include "node_modules/@picocss/pico/css/pico.min.css" %}
{% include "site/public/bundle.css" %}
{% endcss %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <script data-goatcounter="https://vincecima.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
  </head>
  <body>
    <main class="container">
      {{ content | safe }}
    </main>
  </body>
</html>
