{% css %}
{# {% include "node_modules/modern-normalize/modern-normalize.css" %} #}
{# {% include "node_modules/simpledotcss/simple.min.css" %} #}
{% endcss %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <script data-goatcounter="https://vincecima.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
