{% css %}
{% include "node_modules/@picocss/pico/css/pico.min.css" %}
{% include "site/public/bundle.css" %}
{% endcss %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <script data-goatcounter="https://vincecima.goatcounter.com/count" async src="https://gc.zgo.at/count.js"></script>
  </head>
  <body>
    <header class="container">
      <navigation>
        <a href="https://bsky.app/profile/vincecima.com">bluesky</a> -
        <a href="https://fosstodon.org/@vincecima">mastodon</a> -
        <a href="https://github.com/vincecima/">github</a> -
        <a href="/feed.xml">rss</a>
    </navigation>
    </header>
    <main class="container">
      <h1>Vince Cima</h1>
      {{ content | safe }}
    </main>
  </body>
</html>
